:root {
  --image-size: 800px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 0.5em;
  grid-gap: 15px;
  margin-top: 2em;
  border-radius: 10px;
}

.card {
  border-radius: 10px;
  background-color: #f2f2f2;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  display: flex;
  border-radius: 10px;
  align-items: stretch;
  justify-content: center;
  width: 33%;
}

.spin {
  width: 60px;
  height: 60px;
  position: fixed;
  left: 50%;
  bottom: 0;
  right: 0;
  top: 50%;
}

.container-products {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-between;
}

.heading {
  display: flex;
  align-items: left;
  justify-content: center;
  background-image: url(../../assets/img/new-piercings.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
}

.piercing-title {
  color: white;
  margin-left: 5rem;
  font-size: 3rem;
}

.subtitle {
  margin-left: 5rem;
}
