html {
  scroll-behavior: smooth;
}

video {
  /* -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
  -ms-filter: grayscale(30%);
  -o-filter: grayscale(30%);
  filter: grayscale(30%); */
  height: 100vh;
  filter: brightness(70%);
}

.container-video {
  position: relative;
}

.container-video video {
  position: relative;
  z-index: 0;
}

/* fade in overlay */

.overlay {
  position: absolute;
  bottom: 6%;
  left: 50%;
  z-index: 1;
  opacity: 0.5;
}

.overlay:hover {
  opacity: 1;
}
