.portada {
  background-image: url("../../assets/img/modelo-piercing-1.jpg");
}

.pt-n5 {
  padding-top: -15em !important;
}
#name,
#confirmed-password,
#email,
#password,
#username{
  padding-left: 1rem;
}
.forgot-pass{
  cursor: pointer;
}